h1, p { 
    margin-left: 100px;
} 
h1 { 
    font-size: 70px;
} 
p { 
    font-size: 40px;
} 
span { 
    color:rgb(203, 111, 125);
} 
a { 
    text-decoration: none;
} 

/* Navigation bar */
nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 218, 218);
} 
nav ul li { 
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    list-style-type: none;
    display: inline;
} 

/* Images */
img { 
    height: 300px;
    width: 450px;
} 